<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h2><%=playerOne %> has been attacked - Its Now <%=playerOne %>'s turn to Attack</h2>
        <h1> <%=playerOne %>'s Health <%=playerOneHealth%></h1>
        <h1> <%=playerTwo %>'s Health <%=playerTwoHealth%></h1>
        <form action="/attack2" method="post">
            <input id="submitp1attack" type="submit" value="Attack">
        </form>
        
    </body>
</html>