<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1 id="player-one"> <%=playerOne %>'s Health <%=playerOneHealth%></h1>
        <h1 id="player-two"> <%=playerTwo %>'s Health <%=playerTwoHealth%></h1>
        <form action="/attack1" method="post">
            <input id="submitp1attack" type="submit" value="Attack <%=playerOne %>">
        </form>
        <form action="/attack2" method="post">
            <input id="submitp2attack" type="submit" value="Attack <%=playerTwo %>">
        </form>
    </body>
</html>